body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #eaf4f4;
    color: #3c6e71;
    border-bottom: 5px solid #6b9080;
    border-right: 4px solid #e0b1cb;
    border-radius: 13px;
}

.border-blue {
    border: 1px dotted blue;
}



/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
